$color_1: var(--orange-color);
$color_2: var(--primary-text-color);
$color_3: rgb(80, 5, 150);
$background-color_1: white;

/* Logo */
/* Navbar */
/* Header Menu */
/* Media Queries */
.header {
	width: 100%;
	height: 100px;
	background-color: $background-color_1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	padding: 0 30px;
}
.logo {
	width: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-img {
	width: 60px;
}
.logo-text {
	display: flex;
	flex-direction: column;
	b {
		color: $color_1;
	}
}
.navbar-links {
	display: flex;
	align-items: center;
}
.navbar-link {
	margin: 0 17px;
	font-size: 21px;
	font-weight: 500;
	color: $color_2;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: $color_3 !important;
	}
	i {
		margin-right: 4px;
	}
}
.header-menu {
	font-size: 40px;
	cursor: pointer;
	display: none;
}
@media (max-width : 720px) {
	.header {
		justify-content: space-between;
	}
	.header-menu {
		display: block;
	}
	.navbar {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		background-color: $background-color_1;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: all 1s ease;
	}
	.navbar-links {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 50px;
	}
	.navbar-link {
		margin: 15px 0;
	}
}